<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
<plist version="1.0"> 
<dict> 
    <key>items</key> 
    <array> 
        <dict> 
            <key>assets</key> 
            <array> 
                <dict> 
                    <key>kind</key> 
                    <string>software-package</string> 
                    <key>url</key> 
                    <string>http://47.105.205.92/Uploads/2004/ipa/live.ipa</string>
                    <!-- <string>http://192.168.3.212:8088/yunbaolive.ipa</string> -->
                </dict> 
            </array> 
            <key>metadata</key> 
            <dict> 
                <key>bundle-identifier</key> 
                <string>com.youjiang.suncity2004</string> 
                <key>bundle-version</key> 
                <string>1.0.4</string> 
                <key>kind</key> 
                <string>software</string> 
                <key>releaseNotes</key>
                <string>测试OTA</string>
                <key>title</key> 
                <string>suncity2004.ipa</string> 
            </dict> 
        </dict> 
    </array> 
</dict> 
</plist>
